

main{
    
    form {
        border: 1px solid #545454;
        border-radius: 3px;
        padding: 40px;
        background-color: bisque;
    }

    section#result-container{
        background-color: rgb(179, 139, 91);
    }
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
